/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

:root {
	--cell-size: 45px;
}
@media (max-width: 600px) {
	:root {
		--cell-size: 40px;
	}
}

@media (max-width: 400px) {
	:root {
		--cell-size: 35px;
		font-size: 0.8em;
	}
}

html {
	height: 100vh;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding-block-end: 10px;
	border-block-end: 1px solid var(--border-color);
	padding: 5px;

	> *:first-child {
		width: fit-content;
		justify-self: flex-start;
	}

	> *:nth-child(2) {
		display: flex;
		justify-content: center;
		h1 {
			width: fit-content;
			background-color: var(--accent-color);
			border-radius: 20px;
			padding: 4px;
		}
	}

	> *:last-child {
		width: fit-content;
		justify-self: flex-end;

		display: grid;
		grid-template-columns: auto auto auto;
		gap: 4px;

		.bubble {
			display: flex;
			flex-direction: column;
			gap: 4px;

			> label {
				min-height: 30px;
			}
		}
	}
}

@media(max-width: 600px) {
	header {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;

		> * {
			justify-self: center !important;
		}
	}
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;

	main {
		margin: 5px;
		max-width: 1100px;
		margin-inline: auto;
		flex-grow: 1;

		> button {
			margin-inline: auto;
		}
	}
}

footer {
	figure {
		text-align: center;
		margin: 5px;
	}
	img {
		display: inline;
	}
}

#secGame {
	display: grid;
	grid-template-columns: min-content min-content min-content;
	grid-template-rows: min-content min-content min-content;

	width: min-content;
	margin-inline: auto;

	table {
		width: initial;
		border: 0;

		td {
			padding: 0;
			border: 0;
		}

		&[aria-labelledby$="1"] {
			background-color: var(--square-1-color);
		}
		&[aria-labelledby$="2"] {
			background-color: var(--square-2-color);
		}
		&[aria-labelledby$="3"] {
			background-color: var(--square-3-color);
		}
		&[aria-labelledby$="4"] {
			background-color: var(--square-4-color);
		}
		&[aria-labelledby$="5"] {
			background-color: var(--square-5-color);
		}
		&[aria-labelledby$="6"] {
			background-color: var(--square-6-color);
		}
		&[aria-labelledby$="7"] {
			background-color: var(--square-7-color);
		}
		&[aria-labelledby$="8"] {
			background-color: var(--square-8-color);
		}
		&[aria-labelledby$="9"] {
			background-color: var(--square-9-color);
		}
	}
}

#asiGame {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#frmCell  {
	display: flex;
	flex-direction: column;
	gap: 4px;

	hgroup {
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: space-between;

		p {
			margin: 0;
		}
	}

	fieldset {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		[tabindex="-1"]:focus {
			outline: none !important;
		}

		[role="option"] {
			min-height: 30px;
			min-width: 50px;
		}
	}

	table[aria-labelledby="sumSurroundings"] {
		th, td {
			border: 0;
		}
		th {
			width: 0%;
			word-break: keep-all;
			padding-inline: 2px;
		}
		td {
			padding-inline: 4px;
		}
	}
}

#clbPencil {
	legend svg {
		display: none;
	}
}

ol[aria-labelledby="hNumbers"] {
	display: grid;
	grid-template-columns: auto auto auto;
	row-gap: 5px;
	justify-content: space-around;
	
	li {
		background-color: var(--background-color);
		padding-inline: 4px;
		border-radius: 20px;
	}
}

form, article {
	padding: 4px;
	background-color: var(--background-color-2);

	h1, h2, h3, h4, h5, h6 {
		margin-block: 0;
		margin-block-start: -4px;
		margin-inline: -4px;
		padding-inline: 5px;
		background-color: var(--accent-color);
		word-break: keep-all;
		text-align: start;
	}

	.input-grid {
		display: grid;
		grid-template-columns: 1fr auto;
		row-gap: 5px;

		> label {
			text-align: end;
			display: contents;

			&:has(:focus-visible) {
				> span {
					background-color: var(--selected-color);
				}
				input {
					outline-width: 2px !important;
					outline-color: var(--focus-color) !important;
					outline-style: solid !important;
					outline-offset: 1px !important;
					position: relative !important;
					z-index: 100 !important;
				}
			}
		}
	}

	footer {
		border-block-start: none;
		width: 100%;
		margin-top: 4px;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 5px;
	}
}

dialog {
	border: 1px solid var(--border-color);
	padding: 0;

	&::backdrop {
		background-color: var(--background-color-2);
		opacity: 0.75;
	}
}

#diaNew {
	> form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		min-width: 200px;
	}
}

#diaInfo > article {
	max-width: 900px;
	padding-block-end: 0px;

	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-rows: 1fr auto;
	column-gap: 5px;

	gw-icon {
		grid-column: 1;
		grid-row: 1 / span 2;

		&:focus {
			outline: none !important;
			background-color: var(--selected-color);
		}

		.gw-icon {
			width: initial;
			height: initial;
		}
	}
	article {
		grid-column: 2;
		grid-row: 1;

		:is(h1, h2, h3, h4, h5, h6) + p {
			margin-block-start: 0;
		}
	}
	footer {
		grid-row: 2;
		grid-column: 2;

		border: none;
		position: sticky;
		bottom: 0;

		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
}

gw-switch {
	min-width: 20px;
}