/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

html {
	height: 100vh;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;
}

footer {
	figure {
		text-align: center;
		margin: 5px;
	}
	img {
		display: inline;
	}
}